.jumbotron {
    background-color: gold;
    color: black;
    margin-top: 55px;
}

.footer {
    background-color: gold;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.article-card {
    text-align: justify;
}

.article-card-t {
    text-align: center;
    font-weight: bold;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.article-btn {
    width: 100%;
    border-radius: 0px;
}

.foo-col {
    margin: 5px 7px 5px 7px;
}

.title {
    text-align: center;
    margin-top: 2rem;
}

.content {
    margin-bottom: 12rem;
}

.readme-icon {
    color: gold;
}

.tab-content {
    padding-top: 1rem;
}

.section-content {
    padding-top: 1rem;
}

/*POPOVER STYLE*/
.popover{
    border-color: black;
    margin-top: 0.5rem;
}
.popover-header{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: large;
}
.popover-body{
    background-color: yellow;
    color: black;
    font-weight: bold;
}
.popover .arrow::after{
    border-top-color: red;
    border-bottom-color: green;
}


/*CAROUSEL*/
.carousel ol li{
    background-color: red;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3.5rem;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3.5rem;
  color: red;
}