.jumbotron {
  background-color: #e3c902;
  color: #0e1214;
  margin-top: 55px;
  margin-bottom: 10px;
}

.footer {
  background-color: #e3c902;
  color: #0e1214;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.article-card {
  text-align: justify;
}

.article-card-t {
  text-align: center;
  font-weight: bold;
  color: #e80000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.article-btn {
  width: 100%;
  border-radius: 0px;
}

.foo-col {
  margin: 5px 7px 5px 7px;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.content {
  margin-top: 0rem;
  margin-bottom: 12rem;
}

.readme-icon {
  color: #e3c902;
}

.tab-content {
  padding-top: 1rem;
}

.section-content {
  padding-top: 1rem;
}

/*POPOVER STYLE*/
.popover {
  border-color: #0e1214;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.popover-header {
  background-color: #119e14;
  color: #fafafa;
  font-weight: bold;
  font-size: large;
}

.popover-body {
  background-color: #e3c902;
  color: #0e1214;
  font-weight: bold;
}

.popover .arrow::after {
  border-top-color: #e80000;
  border-bottom-color: #119e14;
}

/*CAROUSEL*/
.carousel ol li {
  background-color: #e80000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #0e1214;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid #0e1214;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 3.5rem;
  color: #e80000;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 3.5rem;
  color: #e80000;
}

/*# sourceMappingURL=styles.css.map */
