$amarillo:#e3c902;
$rojo:#e80000;
$verde:#119e14;
$negro:#0e1214;
$blanco:#fafafa;


@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;    
}



.jumbotron {
    background-color: $amarillo;
    color: $negro;
    @include margenes(55px,10px);
}

.footer {
    background-color: $amarillo;
    color: $negro;
    @include margenes(10px,0px);
    width: 100%;
    bottom: 0;
    position: fixed;
}

.article-card {
    text-align: justify;
}

.article-card-t {
    text-align: center;
    font-weight: bold;
    color: $rojo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.article-btn {
    width: 100%;
    border-radius: 0px;
}

.foo-col {
    margin: 5px 7px 5px 7px;
}

.title {
    text-align: center;
    @include margenes(2rem,0rem);
}

.content {
    @include margenes(0rem,12rem);
}

.readme-icon {
    color: $amarillo;
}

.tab-content {
    padding-top: 1rem;
}

.section-content {
    padding-top: 1rem;
}

/*POPOVER STYLE*/
.popover{
    border-color: $negro;
    @include margenes(0.5rem,0rem);
}
.popover-header{
    background-color: $verde;
    color: $blanco;
    font-weight: bold;
    font-size: large;
}
.popover-body{
    background-color: $amarillo;
    color: $negro;
    font-weight: bold;
}
.popover .arrow::after{
    border-top-color: $rojo;
    border-bottom-color: $verde;
}


/*CAROUSEL*/
.carousel ol li{
    background-color: $rojo;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: $negro;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid $negro;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3.5rem;
  color: $rojo;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3.5rem;
  color: $rojo;
}